<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Обо мне</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
    <header class="bg-gray-800 text-white py-4">
        <h1 class="text-center">Mikalai Holias</h1>
    </header>
    <nav class="bg-gray-700 py-2">
        <div class="container mx-auto flex justify-around">
            <a href="/aboutme" class="text-white hover:underline">About me</a>
            <a href="/gallery" class="text-white hover:underline">Gallery</a>
            <a href="/contact" class="text-white hover:underline">Contact</a>
        </div>
    </nav>
    <div class="container mx-auto mt-4 bg-white shadow-md rounded-md p-6">
        <p class="text-gray-700">Studiuję na wydziale informatycznym, gdzie głównie skupiam się na programowaniu. Oprócz tego, moje zainteresowania obejmują 3D printing oraz mikroelektronikę. Te pasje nie tylko rozszerzają moje horyzonty, ale także inspirują mnie do eksperymentowania i tworzenia nowych rzeczy. Dzięki nim mogę połączyć teorię z praktyką, co przyczynia się do mojego rozwoju jako przyszłego specjalisty IT.</p>
    </div>
</body>
</html>
